body {
  font-family: "Montserrat", sans-serif;
}
/* #################Navbar################################# */

nav {
  position: sticky;
  top: 0;
}

.fa-cart-shopping {
  padding-left: 15px;
  margin: auto;
}

.fa-user {
  padding-left: 15px;
  margin: auto;
}

.logo {
  font-weight: 300;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.logo-part {
  font-weight: 900;
}

.header-bar {
  margin-left: 144px;
  margin-right: 144px;
}

.cnt-cont {
  position: relative;
}

.cart-cnt {
  margin-right: 15px;
  position: absolute;
  right: 0;
  top: -7px;
}

/* ############## Main Container ##########################  */

.display-4 {
  font-weight: 600;
}
/* ##############footer##########################  */
.footer {
  margin-top: 130px;
}

.footer-container,
.footer-div,
.py-5 {
  margin-bottom: 0;
  padding-bottom: 0;
}

footer img {
  width: 150px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
