body {
  font-family: "Montserrat", sans-serif;
}
/* #################Navbar################################# */

nav {
  position: sticky;
  top: 0;
}

.fa-cart-shopping {
  padding-left: 15px;
  margin: auto;
}

.fa-user {
  padding-left: 15px;
  margin: auto;
}

.logo {
  font-weight: 300;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.logo-part {
  font-weight: 900;
}

.header-bar {
  margin-left: 144px;
  margin-right: 144px;
}

.cnt-cont {
  position: relative;
}

.cart-cnt {
  margin-right: 15px;
  position: absolute;
  right: 0;
  top: -7px;
}

/* ################# product container################################# */

#container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
}

#left-section {
  width: 38%;
}

#right-section {
  width: 60%;
}

.leftPreview {
  width: 92%;
}

#name {
  margin-top: 0;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: -2px;
}

#brand,
#price,
#desc,
#preview {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

#price {
  margin-top: 20px;
  margin-bottom: 20px;
}

#description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

#previewDiv {
  display: flex;
}

#previewDiv img {
  height: 130px;
  width: 100px;
}

.image {
  padding: 5px;
  margin: 5px;
}

.active {
  border: 2px solid #009688;
  border-radius: 4px;
}

#btn {
  background-color: #009688;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  letter-spacing: 1.5px;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

#btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

#value {
  color: #009688;
  font-weight: 600;
}

/* ################# Footer ################################# */

.footer-container,
.footer-div,
.py-5 {
  margin-bottom: 0;
  padding-bottom: 0;
}

footer img {
  width: 150px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
